div#image-frame {
    width: 100%;
    text-align: center;
}


div#image-frame > img {
    position: relative;
    width: 350px;
    height: 250px;
    display: inline-block;
    transition: 0.2s;
    margin: 5px;
    border-radius: 3px;
}

div#cont {
    background-color: #eceff1;
    box-shadow: 0px 2px 7px #555;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}


div#image-frame > img:hover {
    box-shadow: 0px 0px 10px #00688B;
    cursor: pointer;
    /*width: 410px;
    height: 310px;*/
}

@media screen and (min-width: 480px) {
    
}

div#timer {
    color: red;

    position: fixed;
    right: 15px;
    top: 50%;
    width: 150px;
    background-color: #eceff1;
    box-shadow: 0px 2px 7px #555;
    border-radius: 5px;
    padding: 10px;
    display: none;

}

div#timer > span.large {
    font-size: 25px;
}
